DATABASE_URL=postgresql+asyncpg://postgres:SUA_SENHA@localhost:5432/financas_pessoais
TEST_DATABASE_URL=postgresql+asyncpg://postgres:SUA_SENHA@localhost:5432/financas_pessoais_test
SECRET_KEY=sua-chave-secreta-aqui